body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0px;
  max-width: 2000px;
}
.even { background-color:rgb(240,240,240); }
.odd { background-color:white; }

#verticaltext {
writing-mode: tb-rl;
filter: flipv fliph;
}

.box_rotate {
     -moz-transform: rotate(-90deg);  /* FF3.5+ */
       -o-transform: rotate(-90deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
}