<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SQLDBHost" value="SBM-ROD-138\SQLEXPRESS"/>
    <add key="DBName" value="OVEN"/>
    <add key="IntegratedSecurity"  value="False"/>
    <add key="UserName" value="sa"/>
    <add key="Password" value="passwordsa"/>
  </appSettings>
</configuration>