<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TPMMessager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TPMMessager.Properties.Settings>
            <setting name="ComPort" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="TimeOut" serializeAs="String">
                <value>300</value>
            </setting>
        </TPMMessager.Properties.Settings>
    </applicationSettings>
</configuration>